In [1]:
import sys
import argparse
import pkg_resources
import utils
import modeling
import numpy as np
import pandas as pd
batchsize=10000

2024-06-05 22:04:56.829472: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
inputfi="/Users/mikethompson/waltz_tab_long.txt"
# seqnames, seqs
seqlist=utils.get_input_sequences(inputfi)
canyamod=modeling.get_canya()

created model
loaded weights!

In [3]:
resdfs=[]
idxprocess=[np.array(x) for x in list(utils.chunks(list(range(len(seqlist[0]))),batchsize))]

In [4]:
idxprocess

[array([   0,    1,    2, ..., 9997, 9998, 9999]),
 array([10000, 10001, 10002, ..., 14157, 14158, 14159])]

In [5]:

curidx=idxprocess[0]
for curidx in idxprocess:
    seqstopred=np.array(seqlist[1])[curidx]
    seqstopred=seqstopred.tolist()
    namespred=np.array(seqlist[0])[curidx]
    namespred=namespred.tolist()

    preds=modeling.get_predictions(model=canyamod,sequences=seqstopred)
    curpreddf=pd.DataFrame({"seqid" : namespred,
                        "pred" : preds})
    mindf=curpreddf.groupby("seqid").min()
    mindf=pd.DataFrame({"seqid" : mindf.index.tolist(),
                       "pred" : mindf["pred"].tolist()},index=None)
    resdfs.append(mindf)

10000
(10, 20)
10000
(149, 20)
10000
(149, 20)
(10000, 149, 20)

2024-06-05 22:05:10.754410: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

4160
(10, 20)
4160
(149, 20)
4160
(149, 20)
(4160, 149, 20)

In [10]:
resdf=pd.concat(resdfs,axis=0)
resdf=resdf.groupby("seqid").min()
resdf=pd.DataFrame({"seqid" : resdf.index.tolist(),
                       "pred" : resdf["pred"].tolist()},index=None)

         seqid      pred
0        seq|1  0.063138
1       seq|10  0.147685
2      seq|100  0.049052
3     seq|1000  0.109252
4     seq|1001  0.127641
...        ...       ...
1411   seq|995  0.104518
1412   seq|996  0.086926
1413   seq|997  0.135655
1414   seq|998  0.017441
1415   seq|999  0.063092

[2832 rows x 2 columns]

In [12]:
resdf

         seqid      pred
0        seq|1  0.063138
1       seq|10  0.147685
2      seq|100  0.049052
3     seq|1000  0.109252
4     seq|1001  0.127641
...        ...       ...
1411   seq|995  0.104518
1412   seq|996  0.086926
1413   seq|997  0.135655
1414   seq|998  0.017441
1415   seq|999  0.063092

[1416 rows x 2 columns]

         seqid      pred
0        seq|1  0.063138
1       seq|10  0.147685
2      seq|100  0.049052
3     seq|1000  0.109252
4     seq|1001  0.127641
...        ...       ...
1411   seq|995  0.104518
1412   seq|996  0.086926
1413   seq|997  0.135655
1414   seq|998  0.017441
1415   seq|999  0.063092

[1416 rows x 2 columns]

In [19]:
import tensorflow as tf
embeddedseqs=[tf.pad(modeling.seq_to_vector(x),paddings,"CONSTANT") for x in seqstopred]
print(len(embeddedseqs))
print(embeddedseqs[0].shape)
print(np.asarray(embeddedseqs).shape)

1416
(10, 20)
(1416,)

In [26]:
embeddedseqs=[modeling.dynamic_padding(x,seqminsize,post=True) for x in embeddedseqs]
print(len(embeddedseqs))
print(embeddedseqs[0].shape)

1416
(149, 20)

In [29]:
canyamod.predict(np.concatenate(embeddedseqs))

NotImplementedError: Cannot convert a symbolic Tensor (PadV2_1416:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported

In [ ]:
embeddedseqs=[dynamic_padding(x,seqminsize,post=True) for x in embeddedseqs]
print(len(embeddedseqs))
print(embeddedseqs[0].shape)
embeddedseqs=np.asarray(embeddedseqs)
print(len(embeddedseqs))
print(embeddedseqs[0].shape)
print(embeddedseqs.shape)